<div role="main">
      
    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Total Fees in BSV (last 100 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData1" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Transaction Count (last 100 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData2" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Block Size in Bytes(last 100 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData3" [options]="basicOptions"></p-chart>
    </div>

    <BR><BR>

    <div class="card" style="float:left;margin-left:5%;">
      <h5>Cumulative Block Time in ms (last 100 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData4" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;"> <!-- flex justify-content-center -->
      <h5>Bitcoin Txn Percentage</h5>
      <p-chart type="pie" [data]="txndata1" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>
    </div>

</div>
