<div role="main">

    <!-- Highlight Card class="content"
    <div style="margin-top:100px;" class="card highlight-card card-small">
      <marquee style="width:50%;">Sample data coming through!</marquee>
    </div> -->
      
    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Block Height</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData1" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Transaction Value (last 1000 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;margin-top:3%;">
      <h5>Transaction Volume (last 1000 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>


     <!-- 2nd Row of Charts --> 
    <div class="card" style="float:left;margin-left:5%;">
      <h5>Block Size</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>

    <div class="card" style="float:left;margin-left:5%;">
      <h5>Total Fees (last 1000 blocks)</h5>
      <p-chart height="300" width="400" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>

</div>
